* text=auto

/src/dev export-ignore
/tests export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/phpcs.xml.dist export-ignore
/phpstan.ignores.php export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
