* text=auto

/bin export-ignore
/cache export-ignore
/tests export-ignore
/composer.lock export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/composer-dependency-analyser.php export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
