includes:
    - phar://phpstan.phar/conf/config.levelmax.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon
    - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - ./vendor/shipmonk/dead-code-detector/rules.neon
    - ./rules.neon

parameters:
    phpVersion:
        min: 70400
        max: 80499
    internalErrorsCountLimit: 1
    paths:
        - src
        - tests
    excludePaths:
        analyseAndScan:
            - tests/*/data/*
    tmpDir: cache/phpstan/
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    checkImplicitMixed: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportAnyTypeWideningInVarTag: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        implicitThrows: false
        uncheckedExceptionClasses:
            - LogicException

    editorUrl: 'jetbrains://php-storm/navigate/reference?project=phpstan-rules&path=%%relFile%%:%%line%%' # requires usage of JetBrains Toolbox
    editorUrlTitle: '%%relFile%%:%%line%%'

    shipmonkRules:
        classSuffixNaming:
            superclassToSuffixMapping:
                PHPStan\Rules\Rule: Rule
                PhpParser\NodeVisitor: Visitor
                ShipMonk\PHPStan\RuleTestCase: RuleTest
        enforceClosureParamNativeTypehint:
            enabled: false # we support even PHP 7.4, some typehints cannot be used

    ignoreErrors:
        -
            message: "#Class BackedEnum not found\\.#"
            path: src/Rule/BackedEnumGenericsRule.php
            reportUnmatched: false # fails only for PHP < 8 https://github.com/phpstan/phpstan/issues/6290

        -
            message: "#Call to method PHPStan\\\\Reflection\\\\ClassReflection::isEnum\\(\\) will always evaluate to false\\.#"
            path: src/Rule/ForbidProtectedEnumMethodRule.php
            reportUnmatched: false # fails only for PHP < 8 https://github.com/phpstan/phpstan-src/pull/3925/files#diff-df58b1c8117cfa9b77453fb2cc8fdeeb0803ad0acfd2dec85a441a8fa5a53c06R24

        -
            message: "#but it's missing from the PHPDoc @throws tag\\.$#" # allow uncatched exceptions in tests
            path: tests/*

        # ignore BC promises
        - identifier: phpstanApi.class
        - identifier: phpstanApi.method
        - identifier: phpstanApi.interface
        - identifier: phpstanApi.instanceofAssumption
