includes:
    - phar://phpstan.phar/conf/config.levelmax.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon
    - ./rules.neon

parameters:
    paths:
        - src
        - tests
    excludePaths:
        analyseAndScan:
            - tests/Rule/data/*
    tmpDir: cache/phpstan/
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true

    ignoreErrors:
        -
            message: "#Class BackedEnum not found\\.#"
            path: src/Rule/BackedEnumGenericsRule.php
            reportUnmatched: false # fails only for PHP < 8 https://github.com/phpstan/phpstan/issues/6290
        -
            message: "#Doing instanceof PHPStan\\\\Type\\\\IntersectionType is error-prone and deprecated.#"
