parameters:
    shipmonkRules:
        enableAllRules: true

        allowComparingOnlyComparableTypes:
            enabled: %shipmonkRules.enableAllRules%
        backedEnumGenerics:
            enabled: %shipmonkRules.enableAllRules%
        classSuffixNaming:
            enabled: %shipmonkRules.enableAllRules%
            superclassToSuffixMapping: []
        enforceClosureParamNativeTypehint:
            enabled: %shipmonkRules.enableAllRules%
            allowMissingTypeWhenInferred: false
        enforceEnumMatch:
            enabled: %shipmonkRules.enableAllRules%
        enforceIteratorToArrayPreserveKeys:
            enabled: %shipmonkRules.enableAllRules%
        enforceListReturn:
            enabled: %shipmonkRules.enableAllRules%
        enforceNativeReturnTypehint:
            enabled: %shipmonkRules.enableAllRules%
        enforceReadonlyPublicProperty:
            enabled: %shipmonkRules.enableAllRules%
        forbidArithmeticOperationOnNonNumber:
            enabled: %shipmonkRules.enableAllRules%
            allowNumericString: false
        forbidCast:
            enabled: %shipmonkRules.enableAllRules%
            blacklist: ['(array)', '(object)', '(unset)']
        forbidCheckedExceptionInCallable:
            enabled: %shipmonkRules.enableAllRules%
            allowedCheckedExceptionCallables: []
        forbidCheckedExceptionInYieldingMethod:
            enabled: %shipmonkRules.enableAllRules%
        forbidCustomFunctions:
            enabled: %shipmonkRules.enableAllRules%
            list: []
        forbidEnumInFunctionArguments:
            enabled: %shipmonkRules.enableAllRules%
        forbidFetchOnMixed:
            enabled: %shipmonkRules.enableAllRules%
        forbidIdenticalClassComparison:
            enabled: %shipmonkRules.enableAllRules%
            blacklist: ['DateTimeInterface']
        forbidIncrementDecrementOnNonInteger:
            enabled: %shipmonkRules.enableAllRules%
        forbidMatchDefaultArmForEnums:
            enabled: %shipmonkRules.enableAllRules%
        forbidMethodCallOnMixed:
            enabled: %shipmonkRules.enableAllRules%
        forbidNotNormalizedType:
            enabled: %shipmonkRules.enableAllRules%
            checkDisjunctiveNormalForm: true
        forbidNullInAssignOperations:
            enabled: %shipmonkRules.enableAllRules%
            blacklist: ['??=']
        forbidNullInBinaryOperations:
            enabled: %shipmonkRules.enableAllRules%
            blacklist: ['===', '!==', '??']
        forbidNullInInterpolatedString:
            enabled: %shipmonkRules.enableAllRules%
        forbidPhpDocNullabilityMismatchWithNativeTypehint:
            enabled: %shipmonkRules.enableAllRules%
        forbidProtectedEnumMethod:
            enabled: %shipmonkRules.enableAllRules%
        forbidReturnValueInYieldingMethod:
            enabled: %shipmonkRules.enableAllRules%
            reportRegardlessOfReturnType: true
        forbidUnsafeArrayKey:
            enabled: %shipmonkRules.enableAllRules%
            reportMixed: true
            reportInsideIsset: true
        forbidVariableTypeOverwriting:
            enabled: %shipmonkRules.enableAllRules%
        forbidUnsetClassField:
            enabled: %shipmonkRules.enableAllRules%
        forbidUselessNullableReturn:
            enabled: %shipmonkRules.enableAllRules%
        forbidUnusedException:
            enabled: %shipmonkRules.enableAllRules%
        forbidUnusedMatchResult:
            enabled: %shipmonkRules.enableAllRules%
        forbidUnusedClosureParameters:
            enabled: %shipmonkRules.enableAllRules%
        requirePreviousExceptionPass:
            enabled: %shipmonkRules.enableAllRules%
            reportEvenIfExceptionIsNotAcceptableByRethrownOne: true
        uselessPrivatePropertyDefaultValue:
            enabled: %shipmonkRules.enableAllRules%

parametersSchema:
    shipmonkRules: structure([
        enableAllRules: bool()

        allowComparingOnlyComparableTypes: structure([
            enabled: bool()
        ])
        backedEnumGenerics: structure([
            enabled: bool()
        ])
        classSuffixNaming: structure([
            enabled: bool()
            superclassToSuffixMapping: arrayOf(string(), string())
        ])
        enforceClosureParamNativeTypehint: structure([
            enabled: bool()
            allowMissingTypeWhenInferred: bool()
        ])
        enforceEnumMatch: structure([
            enabled: bool()
        ])
        enforceIteratorToArrayPreserveKeys: structure([
            enabled: bool()
        ])
        enforceListReturn: structure([
            enabled: bool()
        ])
        enforceNativeReturnTypehint: structure([
            enabled: bool()
        ])
        enforceReadonlyPublicProperty: structure([
            enabled: bool()
        ])
        forbidArithmeticOperationOnNonNumber: structure([
            enabled: bool()
            allowNumericString: bool()
        ])
        forbidCast: structure([
            enabled: bool()
            blacklist: arrayOf(string())
        ])
        forbidCheckedExceptionInCallable: structure([
            enabled: bool()
            allowedCheckedExceptionCallables: arrayOf(anyOf(listOf(int()), int()), string())
        ])
        forbidCheckedExceptionInYieldingMethod: structure([
            enabled: bool()
        ])
        forbidCustomFunctions: structure([
            enabled: bool()
            list: arrayOf(string())
        ])
        forbidEnumInFunctionArguments: structure([
            enabled: bool()
        ])
        forbidFetchOnMixed: structure([
            enabled: bool()
        ])
        forbidIdenticalClassComparison: structure([
            enabled: bool()
            blacklist: arrayOf(string())
        ])
        forbidIncrementDecrementOnNonInteger: structure([
            enabled: bool()
        ])
        forbidMatchDefaultArmForEnums: structure([
            enabled: bool()
        ])
        forbidMethodCallOnMixed: structure([
            enabled: bool()
        ])
        forbidNotNormalizedType: structure([
            enabled: bool()
            checkDisjunctiveNormalForm: bool()
        ])
        forbidNullInAssignOperations: structure([
            enabled: bool()
            blacklist: arrayOf(string())
        ])
        forbidNullInBinaryOperations: structure([
            enabled: bool()
            blacklist: arrayOf(string())
        ])
        forbidNullInInterpolatedString: structure([
            enabled: bool()
        ])
        forbidPhpDocNullabilityMismatchWithNativeTypehint: structure([
            enabled: bool()
        ])
        forbidProtectedEnumMethod: structure([
            enabled: bool()
        ])
        forbidReturnValueInYieldingMethod: structure([
            enabled: bool()
            reportRegardlessOfReturnType: bool()
        ])
        forbidUnsafeArrayKey: structure([
            enabled: bool()
            reportMixed: bool()
            reportInsideIsset: bool()
        ])
        forbidVariableTypeOverwriting: structure([
            enabled: bool()
        ])
        forbidUnsetClassField: structure([
            enabled: bool()
        ])
        forbidUselessNullableReturn: structure([
            enabled: bool()
        ])
        forbidUnusedException: structure([
            enabled: bool()
        ])
        forbidUnusedMatchResult: structure([
            enabled: bool()
        ])
        forbidUnusedClosureParameters: structure([
            enabled: bool()
        ])
        requirePreviousExceptionPass: structure([
            enabled: bool()
            reportEvenIfExceptionIsNotAcceptableByRethrownOne: bool()
        ])
        uselessPrivatePropertyDefaultValue: structure([
            enabled: bool()
        ])
    ])

conditionalTags:
    ShipMonk\PHPStan\Rule\AllowComparingOnlyComparableTypesRule:
        phpstan.rules.rule: %shipmonkRules.allowComparingOnlyComparableTypes.enabled%
    ShipMonk\PHPStan\Rule\BackedEnumGenericsRule:
        phpstan.rules.rule: %shipmonkRules.backedEnumGenerics.enabled%
    ShipMonk\PHPStan\Rule\ClassSuffixNamingRule:
        phpstan.rules.rule: %shipmonkRules.classSuffixNaming.enabled%
    ShipMonk\PHPStan\Rule\EnforceClosureParamNativeTypehintRule:
        phpstan.rules.rule: %shipmonkRules.enforceClosureParamNativeTypehint.enabled%
    ShipMonk\PHPStan\Rule\EnforceEnumMatchRule:
        phpstan.rules.rule: %shipmonkRules.enforceEnumMatch.enabled%
    ShipMonk\PHPStan\Rule\EnforceIteratorToArrayPreserveKeysRule:
        phpstan.rules.rule: %shipmonkRules.enforceIteratorToArrayPreserveKeys.enabled%
    ShipMonk\PHPStan\Rule\EnforceNativeReturnTypehintRule:
        phpstan.rules.rule: %shipmonkRules.enforceNativeReturnTypehint.enabled%
    ShipMonk\PHPStan\Rule\EnforceListReturnRule:
        phpstan.rules.rule: %shipmonkRules.enforceListReturn.enabled%
    ShipMonk\PHPStan\Rule\EnforceReadonlyPublicPropertyRule:
        phpstan.rules.rule: %shipmonkRules.enforceReadonlyPublicProperty.enabled%
    ShipMonk\PHPStan\Rule\ForbidArithmeticOperationOnNonNumberRule:
        phpstan.rules.rule: %shipmonkRules.forbidArithmeticOperationOnNonNumber.enabled%
    ShipMonk\PHPStan\Rule\ForbidCastRule:
        phpstan.rules.rule: %shipmonkRules.forbidCast.enabled%
    ShipMonk\PHPStan\Rule\ForbidCheckedExceptionInCallableRule:
        phpstan.rules.rule: %shipmonkRules.forbidCheckedExceptionInCallable.enabled%
    ShipMonk\PHPStan\Rule\ForbidCheckedExceptionInYieldingMethodRule:
        phpstan.rules.rule: %shipmonkRules.forbidCheckedExceptionInYieldingMethod.enabled%
    ShipMonk\PHPStan\Rule\ForbidCustomFunctionsRule:
        phpstan.rules.rule: %shipmonkRules.forbidCustomFunctions.enabled%
    ShipMonk\PHPStan\Rule\ForbidEnumInFunctionArgumentsRule:
        phpstan.rules.rule: %shipmonkRules.forbidEnumInFunctionArguments.enabled%
    ShipMonk\PHPStan\Rule\ForbidFetchOnMixedRule:
        phpstan.rules.rule: %shipmonkRules.forbidFetchOnMixed.enabled%
    ShipMonk\PHPStan\Rule\ForbidIdenticalClassComparisonRule:
        phpstan.rules.rule: %shipmonkRules.forbidIdenticalClassComparison.enabled%
    ShipMonk\PHPStan\Rule\ForbidIncrementDecrementOnNonIntegerRule:
        phpstan.rules.rule: %shipmonkRules.forbidIncrementDecrementOnNonInteger.enabled%
    ShipMonk\PHPStan\Rule\ForbidMatchDefaultArmForEnumsRule:
        phpstan.rules.rule: %shipmonkRules.forbidMatchDefaultArmForEnums.enabled%
    ShipMonk\PHPStan\Rule\ForbidMethodCallOnMixedRule:
        phpstan.rules.rule: %shipmonkRules.forbidMethodCallOnMixed.enabled%
    ShipMonk\PHPStan\Rule\ForbidNotNormalizedTypeRule:
        phpstan.rules.rule: %shipmonkRules.forbidNotNormalizedType.enabled%
    ShipMonk\PHPStan\Rule\ForbidNullInAssignOperationsRule:
        phpstan.rules.rule: %shipmonkRules.forbidNullInAssignOperations.enabled%
    ShipMonk\PHPStan\Rule\ForbidNullInBinaryOperationsRule:
        phpstan.rules.rule: %shipmonkRules.forbidNullInBinaryOperations.enabled%
    ShipMonk\PHPStan\Rule\ForbidNullInInterpolatedStringRule:
        phpstan.rules.rule: %shipmonkRules.forbidNullInInterpolatedString.enabled%
    ShipMonk\PHPStan\Rule\ForbidPhpDocNullabilityMismatchWithNativeTypehintRule:
        phpstan.rules.rule: %shipmonkRules.forbidPhpDocNullabilityMismatchWithNativeTypehint.enabled%
    ShipMonk\PHPStan\Rule\ForbidProtectedEnumMethodRule:
        phpstan.rules.rule: %shipmonkRules.forbidProtectedEnumMethod.enabled%
    ShipMonk\PHPStan\Rule\ForbidReturnValueInYieldingMethodRule:
        phpstan.rules.rule: %shipmonkRules.forbidReturnValueInYieldingMethod.enabled%
    ShipMonk\PHPStan\Rule\ForbidUnsafeArrayKeyRule:
        phpstan.rules.rule: %shipmonkRules.forbidUnsafeArrayKey.enabled%
    ShipMonk\PHPStan\Rule\ForbidVariableTypeOverwritingRule:
        phpstan.rules.rule: %shipmonkRules.forbidVariableTypeOverwriting.enabled%
    ShipMonk\PHPStan\Rule\ForbidUnsetClassFieldRule:
        phpstan.rules.rule: %shipmonkRules.forbidUnsetClassField.enabled%
    ShipMonk\PHPStan\Rule\ForbidUselessNullableReturnRule:
        phpstan.rules.rule: %shipmonkRules.forbidUselessNullableReturn.enabled%
    ShipMonk\PHPStan\Rule\ForbidUnusedExceptionRule:
        phpstan.rules.rule: %shipmonkRules.forbidUnusedException.enabled%
    ShipMonk\PHPStan\Rule\ForbidUnusedMatchResultRule:
        phpstan.rules.rule: %shipmonkRules.forbidUnusedMatchResult.enabled%
    ShipMonk\PHPStan\Rule\ForbidUnusedClosureParametersRule:
        phpstan.rules.rule: %shipmonkRules.forbidUnusedClosureParameters.enabled%
    ShipMonk\PHPStan\Rule\ForbidReturnInConstructorRule:
        phpstan.rules.rule: %shipmonkRules.uselessPrivatePropertyDefaultValue.enabled%
    ShipMonk\PHPStan\Rule\RequirePreviousExceptionPassRule:
        phpstan.rules.rule: %shipmonkRules.requirePreviousExceptionPass.enabled%
    ShipMonk\PHPStan\Rule\UselessPrivatePropertyDefaultValueRule:
        phpstan.rules.rule: %shipmonkRules.uselessPrivatePropertyDefaultValue.enabled%

    ShipMonk\PHPStan\Visitor\UnusedExceptionVisitor:
        phpstan.parser.richParserNodeVisitor: %shipmonkRules.forbidUnusedException.enabled%
    ShipMonk\PHPStan\Visitor\UnusedMatchVisitor:
        phpstan.parser.richParserNodeVisitor: %shipmonkRules.forbidUnusedMatchResult.enabled%
    ShipMonk\PHPStan\Visitor\TopLevelConstructorPropertyFetchMarkingVisitor:
        phpstan.parser.richParserNodeVisitor: %shipmonkRules.uselessPrivatePropertyDefaultValue.enabled%

services:
    -
        class: ShipMonk\PHPStan\Rule\AllowComparingOnlyComparableTypesRule
    -
        class: ShipMonk\PHPStan\Rule\BackedEnumGenericsRule
    -
        class: ShipMonk\PHPStan\Rule\ClassSuffixNamingRule
        arguments:
            superclassToSuffixMapping: %shipmonkRules.classSuffixNaming.superclassToSuffixMapping%
    -
        class: ShipMonk\PHPStan\Rule\EnforceClosureParamNativeTypehintRule
        arguments:
            allowMissingTypeWhenInferred: %shipmonkRules.enforceClosureParamNativeTypehint.allowMissingTypeWhenInferred%
    -
        class: ShipMonk\PHPStan\Rule\EnforceEnumMatchRule
    -
        class: ShipMonk\PHPStan\Rule\EnforceIteratorToArrayPreserveKeysRule
    -
        class: ShipMonk\PHPStan\Rule\EnforceListReturnRule
    -
        class: ShipMonk\PHPStan\Rule\EnforceNativeReturnTypehintRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
    -
        class: ShipMonk\PHPStan\Rule\EnforceReadonlyPublicPropertyRule
    -
        class: ShipMonk\PHPStan\Rule\ForbidArithmeticOperationOnNonNumberRule
        arguments:
            allowNumericString: %shipmonkRules.forbidArithmeticOperationOnNonNumber.allowNumericString%
    -
        class: ShipMonk\PHPStan\Rule\ForbidCastRule
        arguments:
            blacklist: %shipmonkRules.forbidCast.blacklist%
    -
        class: ShipMonk\PHPStan\Rule\ForbidCheckedExceptionInCallableRule
        arguments:
            allowedCheckedExceptionCallables: %shipmonkRules.forbidCheckedExceptionInCallable.allowedCheckedExceptionCallables%
    -
        class: ShipMonk\PHPStan\Rule\ForbidCheckedExceptionInYieldingMethodRule
        arguments:
            exceptionTypeResolver: @PHPStan\Rules\Exceptions\DefaultExceptionTypeResolver
    -
        class: ShipMonk\PHPStan\Rule\ForbidCustomFunctionsRule
        arguments:
            forbiddenFunctions: %shipmonkRules.forbidCustomFunctions.list%
    -
        class: ShipMonk\PHPStan\Rule\ForbidEnumInFunctionArgumentsRule
    -
        class: ShipMonk\PHPStan\Rule\ForbidFetchOnMixedRule
        arguments:
            checkExplicitMixed: %checkExplicitMixed%
    -
        class: ShipMonk\PHPStan\Rule\ForbidIdenticalClassComparisonRule
        arguments:
            blacklist: %shipmonkRules.forbidIdenticalClassComparison.blacklist%
    -
        class: ShipMonk\PHPStan\Rule\ForbidIncrementDecrementOnNonIntegerRule
    -
        class: ShipMonk\PHPStan\Rule\ForbidMethodCallOnMixedRule
        arguments:
            checkExplicitMixed: %checkExplicitMixed%

    -
        class: ShipMonk\PHPStan\Rule\ForbidNotNormalizedTypeRule
        arguments:
            checkDisjunctiveNormalForm: %shipmonkRules.forbidNotNormalizedType.checkDisjunctiveNormalForm%
    -
        class: ShipMonk\PHPStan\Rule\ForbidMatchDefaultArmForEnumsRule
    -
        class: ShipMonk\PHPStan\Rule\ForbidNullInAssignOperationsRule
        arguments:
            blacklist: %shipmonkRules.forbidNullInAssignOperations.blacklist%
    -
        class: ShipMonk\PHPStan\Rule\ForbidNullInBinaryOperationsRule
        arguments:
            blacklist: %shipmonkRules.forbidNullInBinaryOperations.blacklist%
    -
        class: ShipMonk\PHPStan\Rule\ForbidNullInInterpolatedStringRule
    -
        class: ShipMonk\PHPStan\Rule\ForbidPhpDocNullabilityMismatchWithNativeTypehintRule
    -
        class: ShipMonk\PHPStan\Rule\ForbidProtectedEnumMethodRule
    -
        class: ShipMonk\PHPStan\Rule\ForbidReturnValueInYieldingMethodRule
        arguments:
            reportRegardlessOfReturnType: %shipmonkRules.forbidReturnValueInYieldingMethod.reportRegardlessOfReturnType%
    -
        class: ShipMonk\PHPStan\Rule\ForbidUnsafeArrayKeyRule
        arguments:
            reportMixed: %shipmonkRules.forbidUnsafeArrayKey.reportMixed%
            reportInsideIsset: %shipmonkRules.forbidUnsafeArrayKey.reportInsideIsset%
    -
        class: ShipMonk\PHPStan\Rule\ForbidVariableTypeOverwritingRule
    -
        class: ShipMonk\PHPStan\Rule\ForbidUnsetClassFieldRule
    -
        class: ShipMonk\PHPStan\Rule\ForbidUselessNullableReturnRule
    -
        class: ShipMonk\PHPStan\Rule\ForbidUnusedExceptionRule
    -
        class: ShipMonk\PHPStan\Rule\ForbidUnusedMatchResultRule
    -
        class: ShipMonk\PHPStan\Rule\ForbidUnusedClosureParametersRule
    -
        class: ShipMonk\PHPStan\Rule\ForbidReturnInConstructorRule
    -
        class: ShipMonk\PHPStan\Rule\UselessPrivatePropertyDefaultValueRule

    -
        class: ShipMonk\PHPStan\Rule\RequirePreviousExceptionPassRule
        arguments:
            reportEvenIfExceptionIsNotAcceptableByRethrownOne: %shipmonkRules.requirePreviousExceptionPass.reportEvenIfExceptionIsNotAcceptableByRethrownOne%
    -
        class: ShipMonk\PHPStan\Visitor\UnusedExceptionVisitor
    -
        class: ShipMonk\PHPStan\Visitor\UnusedMatchVisitor
    -
        class: ShipMonk\PHPStan\Visitor\TopLevelConstructorPropertyFetchMarkingVisitor
