name: phpcs.xml lint
on:
    workflow_dispatch:
    pull_request:
    push:
        branches:
            - "master"
            - "v[0-9]"

jobs:
    xml-linter:
        runs-on: ubuntu-latest
        steps:
            -
                name: Checkout code
                uses: actions/checkout@v4

            -
                name: Install dependencies
                run: composer install --no-progress --no-interaction

            -
                name: Lint
                uses: ChristophWurst/xmllint-action@v1
                with:
                    xml-file: phpcs.xml.dist
                    xml-schema-file: vendor/squizlabs/php_codesniffer/phpcs.xsd
